input {
  width: 16rem;
  border: none;
  margin-top: 10px;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(237, 239, 243);
  color: rgb(27, 29, 29);
}

.header {
  /* background-color: #302A39; */
  background: rgb(19, 19, 23);
  background: linear-gradient(
    90deg,
    rgba(19, 19, 23, 1) 0%,
    rgba(11, 11, 11, 1) 36%,
    rgba(133, 143, 144, 1) 100%
  );
}
