.delete{
    width: 30px;
    height: 30px;
    background-color: rgb(36, 31, 31);
    position: relative;
    left: 10rem;
    top: 9px;
    border: none;
    border-radius: 5px;

}
.update{
    width: 30px;
    height: 30px;
    background-color: rgb(36, 31, 31);
    position: relative;
    left: 9rem;
    top: 8px;
    border: none;
    border-radius: 5px;
}