.cardimg{
    position:relative;
    
}
.delete{
    width: 30px;
    height: 30px;
    background-color: rgb(182, 35, 35);
    position: relative;
    left: 10rem;
    top: 9px;
    border: none;
    border-radius: 5px;

}
li{
    list-style-type: none;
}
.update{
    width: 30px;
    height: 30px;
    background-color: rgb(33, 81, 192);
    position: relative;
    left: 9rem;
    top: 8px;
    border: none;
    border-radius: 5px;
}
.delete:hover{
    transform: scale(1.1);
}
.update:hover{
    transform: scale(1.1);
}
.main{
    margin-left: 130px;
    margin-top: 20px;
   

}
.card:hover{
    
    transform: translate(-5%,-5%);
    transition: transform 0.2s ease-in ;
    animation: animate 0.5s  1 linear ;
    background-color: rgb(182, 192, 192);
}
@keyframes animate{
    0%{
        background-color: aliceblue;
    }
 
    100%{
        background-color: rgb(182, 192, 192);
        
        
    }
}

@media screen and (max-width:400px){
    .main{
        margin-left: 30px;
    }
}